<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="ExcelPath" value="C:\Users\fasil.m\Desktop\SKUTA\Configs.xlsx"/>
    <add key="ExcelSheetName" value="Sheet1"/>
  </appSettings>
</configuration>